* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0 auto;
    max-width: 100%; /*Ancho máximo que soporta el contenedor principal y que coincide con el ancho de la web*/
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100%; /*Evita que la altura mínima de los elementos esté por debajo del 100%*/
    color:#333;
}

header {
    background-color: #cfa9b281;
    width: 100%;
    color: #8c3c4f;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 0px;
}

.logo {
    object-fit:cover;
    max-width: 180px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-flex-align: center;
    position: relative;
    padding: 10px 0px;
    padding-left: 10px;
}

p {
    color: black;
    margin: 30px;
}

.links a {
    float: left;
    color: black;
    text-align: center;
    justify-content: flex-end;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
}

h1 {
    font-size: x-large;
    -webkit-text-stroke: 2px black;
    padding-left: 5%;    
}

.container {
    width: 100%;
    max-width:1380px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product img {
    width:250px;
    height: 250px;
    /*border-style: groove;*/
    transition:none .7s;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
}              

.product:hover img {  
    transform: scale(1.1); 
}

.product figure { 
    overflow: hidden;  
}

.product :hover {  
    box-shadow: 0 0px 0px;
}

.product {
    margin: 15px;
    border:solid black 1px;
}

.product p {
    text-align: center;
    font-size: 14px;
    line-height: 15%;
    width:250px;
    margin-top: 25px;
}

.productName {
    font-size: 30px;
    text-align: center;
    font-weight: bold; 
    width:250px;
}
    

button {
    background-color: rgb(236, 178, 188);
    padding: 6px 6px;
    cursor: pointer;
    text-align:center;
    margin-bottom: 30px;
    margin-left: 130px;
    margin-right: 35px;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

